<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Development" value="tru1e" />
    <add key="Database.ConnectionString" value="Server=localhost\SQLEXPRESS;Database=DB_A4576A_LMS;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=true" />
    <add key="Mail.Server" value="outlook.office365.com" />
    <add key="Mail.From" value="noreply@bdfoodsafety.com" />
    <add key="Mail.ReplyTo" value="noreply@bdfoodsafety.com" />
    <add key="Mail.Port" value="587" />
    <add key="Mail.Authentication" value="SSL" />
    <add key="Mail.Domain" value="" />
    <add key="Mail.BccEmail" value="ilea.sorin@gmail.com" />
    <add key="Mail.User" value="noreply@bdfoodsafety.com" />
    <add key="Mail.Pass" value="Welcome@1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="20000" requestValidationMode="2.0" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20000000" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <!--
            <rule name="Rewrite to article.aspx">
              <match url="^(.*)$" />
              <action type="Rewrite" url="default.aspx" />
            </rule>
            -->
        <!--
            <rule name="Rewrite to article.aspx">
              <match url="^/u/(.*)$" />
              <action type="Rewrite" url="/Client/Default.aspx?tag={R:1}" />
            </rule>
            -->
        <!--
            <rule name="Rewrite with .aspx" stopProcessing="true">
              <match url="^(.+)(\?(.+)$|\#(.+)$|$)"/>
              <action type="Rewrite" url="{R:1}.aspx{R:2}"/>
            </rule> 
            -->
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>